/* Reset CSS para lidar com as diferenças de estilos padrão dos navegadores */
body, ul, li {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilo geral do corpo da página */
body {
    background-color: rgb(61, 161, 92); 
    font-size: 32px; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-bottom: outset;
}

/* Estilo do cabeçalho */
header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: center;
    width: 100%;
}

.title {
    color: white;
    text-shadow: 2px 1px 0px #8D6C9F;
    width: 100%;
    background-color: rgb(143 188 143);
    display:inline-block;
    text-align: center;
    top: 0px;
    align-items: center;

}

/* Estilo do texto de descrição */
.description {
    text-align: justify; 
    text-align-last: left; 
    font-size: 20px; 
    margin-left: 250px; 
    margin-right: 250px; 
}

/* Estilos opcionais para parágrafos dentro da classe "description" */
.description p {
    margin-bottom: 15px; 
    line-height: 1.5; 
}

/* Estilo do questionário de predição */
.newItem label {
    color: rgb(17, 16, 16); 
    font-size: 24px;
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 5px; 
    margin-left: 20px;
}

.newItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newItem select,
.newItem input[type="number"] {
    width: 100%; 
    text-align: center;
    padding: 8px;
    margin-bottom: 3px;
}

/* Estilo para a seção dos botões */
.buttonSection {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttonSection button {
    padding: 9px 10px;
    background-color: rgb(4, 105, 108); 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
    margin: 0 5px;
}

.buttonSection button:hover {
    background-color: #15a526;
}

/* Estilo específico para o botão "Voltar" quando ele é exibido */
.buttonSection #backButton.showBack {
    display: none;
    margin: 0 5px;
}

/* Estilo para centralizar os botões */
#backButton, 
#nextButton, 
#consultButton {
    display: inline-block;
    text-align: center;
}

/* Estilo da tabela */
table {
    border: 1px solid rgb(4, 105, 108);
    border-collapse: collapse;
    font-size: 12px;
    transition: 0.2s;
    text-align: center;
    font-family: tahoma;
    background-color: white;
    margin: 0 auto;
    width: 50%; 
    margin-top: 20px; 
    margin-bottom: 20px;
    padding: 10px; 
}

th, td {
    border: 1px solid rgb(4, 105, 108);
    padding: 5px;
    font-size: 14px;
}

tr:nth-child(odd) {
    background-color: #B9DCD6;
}

th:nth-child(1) {
    width: 50%;
}

tr:hover {
    background: rgb(114, 187, 198);
}

/* Estilos para a mensagem do resultado da predição */
.outcome-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#outcomeMessage {
    margin-top: 50px;
    text-align: center; 
    padding: 20px; 
    max-width: 400px; 
    font-weight: bold; 
    font-size: 36px; 
    background-color: orange; 
    border: 1px solid #3e3e3e; 
    color: white;
}

/* Estilos para o footer */
footer {
    text-align: center;
    padding: 20px 0;
    margin-top: 200px;
}

.social-media {
    margin-top: 10px;
    font-size: 14px; 
    font-weight: bold;
}

.social-media a {
    text-decoration: none;
    margin: 0 10px;
    color: #002aff; 
}

.social-media a:hover {
    text-decoration: underline; 
}